body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px;
}

header {
    background-color: darkcyan;
    color: rgb(4, 4, 4);
    padding: 0px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 99px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
}

.logo h1{
    font-family: serif;
}

.header-controls {
    display: flex;
    align-items: center;
    width: 75%;
}

.search-bar {
    margin-right: 10px;
    width: 50%;
}

.search-bar input {
    padding: 10px;
    width: 70%;
}

.search-bar button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.location {
    margin-right: 10px;
    width: 30%;
}

.location label {
    margin-right: 5px;
}

.location select {
    padding: 8px;
    width: 65%;
}

.filter{
    width: 25%;
}

.filter select {
    padding: 10px;
}

.cart {
    width: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 1px solid black;/* Different background color for the cart */
    padding: 10px;
    border-radius: 5px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.equipment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.equipment-item {
    width: 30%;
    margin: 10px 0;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 33px;
    display: flex;
    flex-direction: column; /* Adjusted to a flex container */
    justify-content: space-between;
}

.rent-btn {
    padding: 10px;
    background-color: darkcyan;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 100%; /* Adjusted to take full width */
    margin-top: 10px; /* Added margin to separate from content above */
}


.equipment-image {
    max-width: 95%;
    height: 45%;
    margin: 10px;
}

.equipment-image img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    box-shadow: 5px 7px 5px lightsteelblue;
}

.equipment-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: darkcyan;
    color: #ffffff;
    text-align: center;
    padding: 1px;
}
