/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px;
}

header {
    background-color: rgb(94, 196, 237);
    color: rgb(4, 4, 4);
    padding: 0px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    margin-right: 10px;
}

.logo h1 {
    font-family: 'Arial', sans-serif;
    font-size: 24px; /* Adjust the size as needed */
    margin: 0;
}

.header-controls {
    display: flex;
    align-items: center;
}

.search-bar {
    margin-right: 40px;
}

.search-bar input {
    padding: 10px;
    font-size: 18px; /* Adjust the size as needed */
}

.search-bar button {
    padding: 10px;
    background-color: #212b21;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Adjust the size as needed */
}

.location {
    margin-right: 10px;
}

.location label {
    margin-right: 10px;
}

.location select {
    padding: 8px;
    font-size: 20px;
    margin-right: 5px; /* Adjust the size as needed */
}

.filter select {
    padding: 10px;
    font-size: 20px; /* Adjust the size as needed */
}

.cart {
    margin-left: auto;
}

.cart a {
    text-decoration: none;
    color: white;
    font-size: 20px; /* Adjust the size as needed */
    border: 1px solid black;/* Different background color for the cart */
    padding: 10px;
    border-radius: 5px;
    margin-left: 40px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.equipment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.equipment-item {
    width: 30%;
    margin: 10px 0;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.equipment-item img {
    max-width: 100%;
    height: auto;
}

.rent-btn {
    padding: 10px;
    background-color: forestgreen;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Adjust the size as needed */
    margin-top: 10px; /* Add margin to separate from the button */
}

.rent-btn:hover {
    background-color: #45a049;
}
